$color-primary-light:#977254;
$color-primary-medium:#673E0F;
$color-primary-dark:#3F1D0B;
$color-primary-medium-fade:#673e0fe7;
$color-primary-dark-fade:#3f1d0bd2;
$bg-color:#DBC3B4;

$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$grid-width:114rem;

